@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

main {
  text-align: center;
  justify-content: center;
}

.box {
  width: 100%;
  height: 5px;
  background-color: coral;
}

header {
  padding-top: 2rem;
  padding-left: 4rem;
  padding-right: 4rem;

  display: flex;
  gap: 2rem;
  justify-content: center;
}

header .logo img {
  background: whitesmoke;
  border-radius: 50%;
}

header .top-info {
  text-align: left;
}

header .top-info h1 {
  font-family: 'Ubuntu', sans-serif;

  margin-bottom: 1rem;
}

header .top-info h3 {
  color: lightgray;
}

header .top-info p a {
  color: whitesmoke;
}

header .top-info p a:hover {
  opacity: .8;
  text-decoration: no;
}

header .top-info ul li span {
  background: rgba(255, 255, 255, .8);
  color: #2e2f2f;
  padding: .2rem;
  border-radius: 10px;
}

article {
  padding-left: 4rem;
  padding-right: 4rem;
  padding-bottom: 2rem;
}

article h2 {
  font-family: 'Ubuntu', sans-serif;
}

article a {
  color: lightgrey;
  text-decoration: underline;
}

article a:hover {
  color: grey;
  text-decoration: none;
}

article img {
  width: 20px;
  height: 20px;
}

codersrank-summary {
  --bg-color: #3C3D3D;
  --border: none;
  --border-radius: 2rem;
  
  --badge-bg-color: #3C3D3D;
  --badge-text-color: whitesmoke;
  --badge-border: none;
  --badge-border-radius: 2rem;
}