@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

main {
  text-align: center;
  justify-content: center;
}

.box {
  width: 100%;
  height: 5px;
  background-color: coral;
}

header {
  padding-top: 2rem;
  padding-left: 1rem;
  padding-right: 1rem;

  display: flex;
  gap: 2rem;
  justify-content: center;
}

header .logo img {
  background: whitesmoke;
  border-radius: 50%;
}

header .top-info {
  text-align: left;
}

header .top-info h1 {
  font-family: 'Ubuntu', sans-serif;

  margin-bottom: 1rem;
}

header .top-info h3 {
  color: lightgray;
}

header .top-info p a {
  color: whitesmoke;
}

header .top-info p a:hover {
  opacity: .8;
  text-decoration: no;
}

header .top-info ul li span {
  background: rgba(255, 255, 255, .8);
  color: #2e2f2f;
  padding: .2rem;
  border-radius: 10px;
}

article {
  padding-left: 1rem;
  padding-right: 1rem;
}