---
import { Content as WorkingProfile } from "../content/Profile.md";
import { Content as HeadInfo } from "../content/HeadInfo.md";
import "../styles/global.css";
import "../styles/home.css";

let title = "Suphakit Pinyoworapot";
---

<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<title>{title}</title>

		<link rel="icon" type="image/x-icon" href="/favicon.ico" />
	</head>
	<body>
		<main>
			<div class="box"></div>

			<header>
				<div class="logo">
					<img src="https://avatars.githubusercontent.com/u/25049577?v=4" alt="avatar">
				</div>
				<div class="top-info">
					<HeadInfo />
				</div>
			</header>

			<article>
				<WorkingProfile />
			</article>
		</main>
	</body>
</html>
