---
import { Content as TourContent } from "../content/Profile.md";
import "../styles/global.css";
import "../styles/home.css";

let title = "Suphakit Pinyoworapot";
---

<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<title>{title}</title>

		<link rel="icon" type="image/x-icon" href="/favicon.ico" />
	</head>
	<body>
		<main>
			<header>
				<div>
					Hiya! This is Suphakit P.
				</div>
			</header>

			<article>
				<TourContent />
			</article>
		</main>
	</body>
</html>
